body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: linear-gradient(to right, #0d6efd, #6610f2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Responsive avatar size */
.avatar { width: 160px; }
@media (min-width: 576px) { .avatar { width: 190px; } }
@media (min-width: 992px) { .avatar { width: 240px; } }

/* Optional: smooth anchor scrolling */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px; /* Offset for fixed navbar */
}



